<div class="container">
  <div class="upper-data">
    <img class="food-img"/>

    <h1 class="title">Recipe Generator</h1>
  </div>
  <div class="lower-data">
    <h2 class="lower-title">
      <span class="hungry">Feeling hungry?</span> Try the random recipe below!
    </h2>
    <h3 class="lower-info">Refresh page for a new recipe.</h3>
    <div class="recipe-title">{{ recipeTitle }}</div>
    <div class="recipe-info">
      <div class="recipe-ingredients">
        <h4>Ingredients</h4>
        <ul class="ingredients" [innerHtml]="htmlToAdd"></ul>
      </div>
      <div class="recipe-instructions">
        <h4>Instructions</h4>
        {{ recipeInstructions }}
      </div>
    </div>
  </div>
</div>
